body {
  background: #bbb;
  font-family: monospace;
  padding: 0 25px;
  color: #333;
  height: 100%;
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
}
.card {
  font-size: 159px;
  background-color: #fff;
  position: relative;
  width: 96px;
  height: 128px;
  overflow: hidden;
  margin-bottom: -.54em;
  border-radius: 3px;
}
.card::before {
  content: attr(data-char);
  position: absolute;
  background-color: #e9e9e9;
  left: -8px;
  top: -38px;
}
.card:hover::before {
  cursor: pointer;
  background-color: #fff;
}
.column {
  width: 100%;
}
.hand, .talon {
  position: absolute;
  bottom: 100px;
  left: 32px;
}
.talon {
  left: 155px;
}
.tableau {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
.red {
  color: #c33;
}
